/**
 * place custom style in this file
 * add !important to the end if no effect
 * e.g. color: #fff !important;
 * --------------------------------------------------
 *
 */

 .navbar-brand {
  height: 64px ;
  display: flex ;
  align-items: center !important;
}

.navbar-brand-media-img {
  max-height: 64px !important;
  height: auto !important;
  width: auto !important;
}


.navbar-brand-has-media .navbar-brand-media-img {
  height: 50px !important;
  width: auto !important;
}